<ul>
  <li>@Html.ActionLink("Главная", "Index", "Home")</li>
  <li><a href="#">Отчеты</a></li>
  <li><a href="#">Предприятия</a></li>
  <li><a href="#">География</a></li>
  <li><a href="#">Активности</a></li>
</ul>
