@{
    ViewBag.Title = "Index";
}
<h2>
    Справка</h2>
<br />
<section id="post">
<br /><br /><br />
<h3>
    Категории</h3>
<div class="well">
    <dl class="dl-horizontal">
        <dt>АУ</dt>
        <dd>
            Административно-управленческий персонал</dd>
        <dt>ИТРиС</dt>
        <dd>
            Инженерно-технические работники и специалисты</dd>
        <dt>ОР</dt>
        <dd>
            Основные рабочие</dd>
        <dt>ВП</dt>
        <dd>
            Вспомогательный персонал</dd>
    </dl>
</div>
</section>
<section id="education">
<br /><br /><br />
<h3>
    Образование</h3>
<div class="well">
    <dl class="dl-horizontal">
        <dt>ВПО</dt>
        <dd>
            Высшее профессиональное образование</dd>
        <dt>СПО</dt>
        <dd>
            Средне-специальное образование</dd>
        <dt>СО</dt>
        <dd>
            Среднее образование</dd>
    </dl>
</div>
</section>
<section id="info">
<br /><br /><br />
<h3>Основы</h3>
<div class="well">
    <dl>
        <dt>Завершение текущего режима работы, возврат на предыдущую страницу</dt>
        <dd>
            Щелчок по логотипу слева вверху страницы.</dd>
        <dt>Переключение между режимами отчетов</dt>
        <dd>
            Выбрать пункт и основного меню, или соответствующая кнопка на стартовой странице.</dd>
        <dt>Формирование нового отчета</dt>
        <dd>
            Формирование нового отчета начинается выбором соответствующего пункта меню. Если
            предыдущий отчет не был выполнен формирование нового отчета можно выполнить НЕ выбирая
            пункт меню, а просто скорректировав условия критерия запроса.</dd>
    </dl>
</div>
</section>
<section id="standard">
<br /><br /><br />
<h3>
    Стандартный отчет</h3>
<div class="well">
    <dl>
        <dt>Стандартный отчет</dt>
        <dd>
            позволяет получить последние результаты (число работников, образование, категории
            работников, средний возраст, среднегодовой доход) по отрасли, федеральному округу,
            субъекту федерации или предприятию без учета видов деятельности.
        </dd>
        <dt>Задание критериев фильтрации для формирования отчетов</dt>
        <dd>
            Не нуждается в задании критериев. Используются заранее сформированные критерии,
            соответствующие выбираемым пунктам выпадающего меню.</dd>
    </dl>
</div>
</section>
<section id="base">
<br /><br /><br />
<h3>
    Базовый отчет</h3>
<div class="well">
    <dl>
        <dt>Базовый отчет</dt>
        <dd>
            Позволяет получить для отрасли, федерального округа, субъекта федерации или предприятия
            результаты, соответствующие задаваемым условиям (образование и категории работников)
            <strong>по видам деятельности</strong> в заданном интервале дат.
        </dd>
        <dt>Задание критериев фильтрации для формирования отчетов</dt>
        <dd>
            Задание критериев выполняется в три этапа:<br />
            1. Последовательно выбирается Федеральный округ, Субъект федерации и Предприятие.
            Если выбраны «Все округа» или «Все субъекты», то выбор в последующих полях невозможен.<br />
            2. Выбираются даты начала и окончания интервала анализа. В календаре возможно изменение
            по годам, месяцам и дням. Нажатие клавиши «Таблица» вызывает на экран диалоговую
            таблицу для задания следующих признаков поиска.<br />
            3. Выбираются виды деятельности (устанавливаются флажки по вертикали) и анализируемые
            образовательные и организационные группы (устанавливаются флажки по горизонтали)
            Нажатие клавиши «Создать отчет» вызывает диалоговое окно выбора типа отчета (Статический
            или Динамический) с кнопкой «Продолжить» для формирования выбранного отчета.
        </dd>
    </dl>
</div>
</section>
<section id="common">
<br /><br /><br />
<h3>
    Сводный отчет</h3>
<div class="well">
    <dl>
        <dt>Сводный отчет</dt>
        <dd>
            позволяет для выбранной отрасли, федерального округа, субъекта федерации или предприятия
            задавать <strong>сложные критерии</strong>, по любым признакам (образование и категории
            работников) <strong>по видам деятельности</strong> в заданном интервале дат.
        </dd>
        <dt>Задание критериев фильтрации для формирования отчетов</dt>
        <dd>
            Задание критериев выполняется в четыре этапа:<br />
            1. Последовательно выбирается Федеральный округ, Субъект федерации и Предприятие.
            Если выбраны «Все округа» или «Все субъекты», то выбор в последующих полях невозможен.<br />
            2. Выбираются даты начала и окончания интервала анализа. В календаре возможно изменение
            по годам, месяцам и дням. Нажатие клавиши «Таблица» вызывает на экран диалоговую
            таблицу для задания следующих признаков поиска.<br />
            3. Выбираются виды деятельности (устанавливаются флажки по вертикали) и анализируемые
            образовательные и организационные группы (устанавливаются флажки по горизонтали)<br />
            4. Выбираются условия фильтрации данных на основе выбранных признаков (пол/образование/категория/прием-увольнение-аттестация/возраст/доход).<br />
            ВНИМАНИЕ! При задании условий должен быть выбран хотя бы один признак.<br />
            Нажатие клавиши «Создать отчет» вызывает диалоговое окно выбора типа отчета (Статический
            или Динамический) с кнопкой «Продолжить» для формирования выбранного отчета.
        </dd>
    </dl>
</div>
</section>
<section id="summary">
<br /><br /><br />
<h3>
    Количественный отчет</h3>
<div class="well">
    <dl>
        <dt>Количественный отчет</dt>
        <dd>
            Позволяет получить для отрасли, федерального округа, субъекта федерации или предприятия
            результаты, соответствующие сложному условию (образование и категории работников)
            <strong>по видам деятельности</strong> на конкретную дату.
        </dd>
        <dt>Задание критериев фильтрации для формирования отчетов</dt>
        <dd>
            Задание критериев выполняется в четыре этапа:<br />
            1. Последовательно выбирается Федеральный округ, Субъект федерации и Предприятие.
            Если выбраны «Все округа» или «Все субъекты», то выбор в последующих полях невозможен.<br />
            2. Выбирается дата, на которую формируется отчет. В календаре возможно изменение
            по годам, месяцам и дням.<br />
            3. В первом разделе выбираются виды деятельности (устанавливаются флажки по вертикали).<br />
            4. Во втором разделе выбираются условия фильтрации данных на основе выбранных признаков
            (пол/образование/ категория/ прием-увольнение-аттестация/возраст/доход). Устанавливаются
            флажки по вертикали.<br />
            ВНИМАНИЕ!<br />
            При задании условий должен быть выбран ХОТЯ БЫ ОДИН признак ИЗ КАЖДОЙ ГРУППЫ (Пол/Образование/Категория).<br />
            Нажатие клавиши «Создать отчет» вызывает формирования отчета для заданного набора
            условий.<br />
        </dd>
    </dl>
</div>
</section>
<section id="administration">
<br /><br /><br />
<h3>
    Администрирование</h3>
<div class="well">
    <dl>
        <dt>Добавление предприятия</dt>
        <dd>
            Выбирается Федеральный округ и Субъект федерации в котором хотим «создать» новое
            предприятие и нажимается кнопка «Показать предприятие». После появления списка предприятий
            нажимается кнопка «Добавить предприятие». В диалоговом окне «Добавление предприятия»
            заполняются поля «Название предприятия» и «Электронная почта и контактное лицо»,
            нажимается кнопка «Добавить».
        </dd>
        <dt>Удаление предприятия</dt>
        <dd>
            Выбирается Федеральный округ и Субъект федерации в котором хотим «создать» новое
            предприятие и нажимается кнопка «Показать предприятие». После появления списка предприятий
            нажимается кнопка «Удалить предприятие».
        </dd>
    </dl>
</div>
</section>
