@{
    ViewBag.Title = "Index";
}
<h2>
    Справка</h2>
<br />

<h3>Категории</h3>
<div class="well">
<dl class="dl-horizontal">
    <dt>АУ</dt>
    <dd>Административно-управленческий персонал</dd>
    <dt>ИТРиС</dt>
    <dd>Инженерно-технические работники и специалисты</dd>
    <dt>ОР</dt>
    <dd>Основные рабочие</dd>
    <dt>ВП</dt>
    <dd>Вспомогательный персонал</dd>
</dl>
</div>
<br />
<h3>Образование</h3>
<div class="well">
<dl class="dl-horizontal">
    <dt>ВПО</dt>
    <dd>Высшее профессиональное образованиел</dd>
    <dt>СПО</dt>
    <dd>Средне-специальное образование</dd>
    <dt>СО</dt>
    <dd>Среднее образование</dd>
</dl>
</div>
