<div data-bind="foreach: historyPoints">
    <div class="post">
        <p class="meta">
            <span class="date"  data-bind="text: Date"></span>&nbsp;<span data-bind="text: Author">Someone</span></p>
        <h2 class="title">
            <span data-bind="text: ActionType"></span>
        </h2>
        <div class="entry">
            <p data-bind="text: Description">
                </p>
            <p data-bind="text: CustomDescription">
                </p>

        </div>
    </div>
</div>
