<script src="@Url.Content("~/Scripts/Bonch.Models.UserViewModel.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Index";
}



@section sidebar
{
    @Html.Partial("SideBar")
}

<div id="content">
@Html.Partial("HistoryPoints")
</div>