@using MinStat.Enterprises.WebUI.Models
@model IEnumerable<PersonModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
  @foreach(PersonModel person in Model)
  {
    <tr>
      <td></td>
    </tr>
  }
</table>
