<ul>
  <li>@Html.ActionLink("Главная", "Index", "Home")</li>
  <li>@Html.ActionLink("Блоки", "Index", "Summary")</li>
  <li>@Html.ActionLink("Персоналии", "Index", "Person")</li>
  <li><a href="#">Поддержка</a></li>
</ul>
