@{
  ViewBag.Title = "Index";
}
<div class="row-fluid">
  <div class="span12 alert alert-success">
    <div class="span2">
      <img src="@Url.Content("~/Content/img/logo.png")"  />
    </div>
    <div class="span10">
      <strong>Добро пожаловать в отраслевую информационо-аналитическую систему управления
        балансом трудовых ресурсов отрасли связи, информационных технологий и массовых коммуникаций
        "Кадры"</strong>
    </div>
  </div>
</div>
<div class="well">
  <strong>Базовый отчет </strong>
  <br />
  <br />
  С помощью этой системы вы сможете просмотреть количественные данные по активностям.
  <br />
  <br />
  @Html.ActionLink("Начать", "Index", "FullReport", null, new { @class = "btn btn-primary" })
</div>
<div class="well">
  <strong>Сводный отчет </strong>
  <br />
  <br />
  С помощью этой системы вы сможете просмотреть количественные и относительные данные
  по указанным критериям.
  <br />
  <br />
  @Html.ActionLink("Начать", "Index", "Consolidate", null, new { @class = "btn btn-primary" })
</div>
<div class="well">
  <strong>Добавить новое предприятие </strong>Для добавление нового предприятия, пройдите
  по следующей ссылке.
  <br />
  <br />
  @Html.ActionLink("Начать", "Index", "Administration", null, new { @class = "btn btn-primary" })
</div>
