@{
    ViewBag.Title = "Index";
}


<div class="alert alert-success">
    <strong>Добро пожаловать в отраслевую базу данных работников.</strong>
</div>
<div class="well">
    
    <strong>
        Базовый отчет
    </strong>
    <br/><br/>
    С помощью этой системы вы сможете просмотреть количественные данные по активностям.
    <br/><br/>
    @Html.ActionLink("Начать", "Index", "FullReport", null, new { @class = "btn btn-primary" })
</div>
<div class="well">
    <strong>
        Сводный отчет
    </strong>
     <br/><br/>
    С помощью этой системы вы сможете просмотреть количественные и относительные данные по указанным критериям.
    <br/><br/>
    @Html.ActionLink("Начать", "Index", "Consolidate", null, new { @class = "btn btn-primary" })
</div>
<div class="well">
    <strong>
        Добавить новое предприятие
    </strong>
        Для добавление нового предприятия, пройдите по следующей ссылке.
    <br/><br/>
    @Html.ActionLink("Начать", "Index", "Administration", null, new { @class = "btn btn-primary" })
</div>