
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*Styles for report tables*/
.strong1
{
    font-weight: bold;
}

.strong2
{
    font-weight: bold;
}

.scroll
{
    height: 200px;
    overflow: auto;
    position: relative;
}
.navbar-inner {
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#003333', endColorstr='#003333', GradientType=0);
    background-color: #006666;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#006666),to(#006666));
    background-image: -webkit-linear-gradient(top, #006666, #006666);
    background-image: -moz-linear-gradient(center top , #006666, #006666);
}
.navbar .brand 
{
    color: white;
}
.navbar .nav > li > a 
{
  color: white;
}
.navbar .nav > li > a:hover
{
  color: silver;
}

@media screen
{
    .footer
    {
        display: none;
    }
}
@media print
{
    html, body
    {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .footer
    {
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
    .navbar
    {
        display: none;
    }
}

